In [1]:
import os, sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3
import csv
%matplotlib inline

def try_except(func, arg):
    try:
        return func(arg)
    except ValueError:
        return arg
#remember return
#data = np.loadtxt("county_facts.csv")
#didn't work because couldn't convert the string to float

with open('county_facts.csv', 'rb')as f:
    #data = map(lambda entry: map(lambda ele: try_except(float,ele), entry), list(csv.reader(f)))
    coun_fact = np.array(list(csv.reader(f)))
with open('county_facts_dictionary.csv', 'rb')as f:
    coun_fact_dict = np.array(list(csv.reader(f)))
with open('primary_results.csv', 'rb')as f:
    prim_result = np.array(list(csv.reader(f)))


'''
Optimization:
probably has a simplier way to load data
'''

In [14]:
!ls 2016_presidential_election/

county_facts.csv            database.sqlite
county_facts_dictionary.csv hashes.txt
county_shapefiles           primary_results.csv

In [5]:
county_facts_path = "2016_presidential_election/county_facts.csv"
county_facts_dictionary_path = "2016_presidential_election/county_facts_dictionary.csv"
prim_result_path = "2016_presidential_election/primary_results.csv"

count_fact = pd.DataFrame.from_csv(county_facts_path, header = None, index_col = None)
count_fact_dict = pd.DataFrame.from_csv(county_facts_dictionary_path, header= None, index_col = None)
prim_result = pd.DataFrame.from_csv(prim_result_path, header= None, index_col = None)
sqldata = sqlite3.connect('./2016_presidential_election/database.sqlite')

In [9]:
count_fact.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
1,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
2,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
3,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6

In [11]:
count_fact_dict.head()

             0                                                  1
0  column_name                                        description
1    PST045214                          Population, 2014 estimate
2    PST040210          Population, 2010 (April 1) estimates base
3    PST120214  Population, percent change - April 1, 2010 to ...
4    POP010210                                   Population, 2010

In [12]:
prim_result.head()

,0,1,2,3,4,5,6,7
0,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1,Alabama,AL,Autauga,1001,Republican,Donald Trump,5387,0.445
2,Alabama,AL,Autauga,1001,Republican,Ted Cruz,2482,0.205
3,Alabama,AL,Autauga,1001,Republican,Marco Rubio,1785,0.14800000000000002
4,Alabama,AL,Autauga,1001,Republican,Ben Carson,1764,0.146

In [16]:
print "Size of count_fact: %d" % len(count_fact)
print "Size of count_fact_dict: %d" % len(count_fact_dict)
print "Size of prim_result: %d" % len(prim_result)

Size of count_fact: 3196
Size of count_fact_dict: 52
Size of prim_result: 13213